<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a><img  src="assets/logo.png" class="logo-nav" /></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page" >Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Companies</a>
          </li>
        </ul>
    </div>
  </nav>